---
title: Journal Publications
---

%h1= current_page.data.title

%p
  For the most up to date listing of publications, please follow our work on <a href="https://scholar.google.com/citations?user=rqRiOTEAAAAJ&hl=en">Google Scholar</a>. 
%ol

  %li E. Garven, <strong>C.B. Rodell</strong>, K. Shema, K. Govender, S.E. Cassel, B. Ferrick, G. Kupsho, E. Kung, K.L. Spiller, R. Stevens, A.L. Throckmorton. Tunable Blood Shunt for Neonates with Complex Congenital Heart Defects. Frontiers in Bioengineering and Biotechnology. 9: 734310, 2022. (<a href="https://www.frontiersin.org/articles/10.3389/fbioe.2021.734310/full">Link</a>). 

  %li 
    C. Pfirschke, R. Zilionis, C. Engblom, M. Messemaker, A.E. Zou, S. Rickelt, N.A. Gort-Freitas, Y. Lin,R. Bill, M. Siwicki, J. Gungabeesoon,  M.M. Sprachman, A.N. Marquard, <strong>C.B. Rodell</strong>, M.F. Cuccarese, J. Quintana, M.S. Ahmed, R.H. Kohler, V. Savova, R. Weissleder, A.M. Klein, M.J. Pittet. Macrophage-targeted therapy unlocks antitumoral crosstalk between IFN-γ-secreting lymphocytes and IL-12-producing dendritic cells. Cancer Immunology Research. 10(1): 40-55, 2022. (<a href="https://aacrjournals.org/cancerimmunolres/article/10/1/40/674703/Macrophage-Targeted-Therapy-Unlocks-Antitumoral">Link</a>)
    %br
    %br
    %p
      %em Popular Press &amp; Communications:
    %ul
      %li 
        =link_to "Pulling the Strings of the Tumor Microenvironment", "https://cancerimmunolres.aacrjournals.org/content/10/1/4.full-text.pdf"
        – Cancer Immunology Research Spotlight
      %li 
        =link_to "Cancer Immunology Research Spotlight", "https://acir.org/journal-articles/cancer-immunobiology/immune-cell-biology?entryId=31554"
        – Accelerating Cancer Immunotherapy Research (ACIR)

  %li D.E. Soranno, L. Kirkbride-Romeo, D. Han, C. Altmann, <strong>C.B. Rodell</strong>. Measurement of glomerular filtration rate reveals that subcapsular hydrogels injection does not impair renal function. Journal of Biomedical Materials Research Part A. 110(3): 652-658, 2022. (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/jbm.a.37317">Link</a>)

  %li R. Li, T.S.C. Ng, S. Wang, M. Prytyskach, <strong>C.B. Rodell</strong>, H. Mikula, R.H. Kohler, M.A. Garlin, D.A. Lauffenburger, S. Parangi, D.M. Dinulescu, N. El-Bardeesy, R. Weissleder, M.A. Miller. Therapeutically reprogrammed nutrient signaling enhances nanoparticulate albumin bound drug uptake and efficacy in KRAS-mutant cancer. <em>Nature Nanotechnology</em>. 16: 833-839, 2021. (<a href="https://www.nature.com/articles/s41565-021-00897-1">Link</a>) 
  
  %li S.S. Soni, A. Alsasa, <strong>C.B. Rodell</strong>. Applications of Macrocyclic Supramolecules in the Immune Modulation and Therapeutic Delivery. <em>Frontiers in Chemistry</em>. 9, 190, 2021. (<a href="https://www.frontiersin.org/articles/10.3389/fchem.2021.658548/full">Link</a>)
  
  %li S.S. Soni, <strong>C.B. Rodell</strong>. Polymeric Materials for Immune Engineering: Molecular Interaction to Biomaterial Design. <em>Acta Biomaterialia</em>. In Press. DOI: 10.1016/j.actbio.2021.01.016. (<a href="https://www.sciencedirect.com/science/article/pii/S174270612100043X?casa_token=aIe2lg1sa-MAAAAA:NwtbGnOpHT9-q45eHN0z4w4gbdCA1MYjXaYv5C-YrAqBuBOJbYhZAeNoSrTWXloWcs3DNTLkOQ">Link</a>).
  
  %li <strong>C.B. Rodell</strong>, P. Baldwin, B. Fernandez, R. Weissleder, S. Sridhar, J.M. Dubach. Quantification of cellular drug biodistribution addresses challenges in evaluating of in vitro and in vivo encapsulated drug delivery. <em>Advanced Therapeutics</em>. 4(3), 202000125, 2021. (<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/adtp.202000125">Link</a>).
  
  %li D.S. Li, R. Avazmohammadi, <strong>C.B. Rodell</strong>, E.W. Hsu, J.A. Burdick, J.H. Gorman III, R.C. Gorman, M. Sacks. How hydrogel inclusions modulate the local mechanical response in early and fully formed post-infarcted myocardium. <em>Acta Biomaterialia</em>. 114, 296-306, 2020. (<a href="https://www.sciencedirect.com/science/article/pii/S1742706120304323?casa_token=mndn7nCBpH8AAAAA:SOqghZNIPxNFa7wfwkVaepz0isCD0vVwN7CHmAj-za_dQd1FJJ6wu-csvAJ35ogqgwRWkHlbLQ">Link</a>)
  
  %li P.D. Koch, <strong>C.B. Rodell</strong>, R.H. Kohler, M.J. Pittet, R. Weissleder. Myeloid cell-targeted nanocarriers efficiently inhibit cellular inhibitor of apoptosis for cancer immunotherapy. <em>Cell Chemical Biology</em>. 27(1): 94-104, 2020.

  %li <strong>C.B. Rodell</strong>, Z.L. Zhang, N.N. Dusaj, Y. Oquendo, M.E. Lee, W. Bouma, J.H. Gorman III, J.A. Burdick, R.C. Gorman. Injectable shear-thinning hydrogels prevent ischemic mitral regurgitation and normalize ventricular flow dynamics. In <em>Seminars in Thoracic and Cardiovascular Surgery</em>. 32(3), 445-453, 2020. 
  
  %li <strong>C.B. Rodell</strong>, M.S. Ahmed, C.S. Garris, M. Pittet, R. Weissleder. Development of adamantane-conjugated TLR7/8 agonists for supramolecular delivery and cancer immunotherapy. <em>Theranostics</em>. 9(26): 8426-8436, 2019.
  
  %li <strong>C.B. Rodell</strong>, P.D. Koch, R. Weissleder. Screening for new macrophage therapeutics. <em>Theranostics</em>. 9(25), 7714-7729, 2019. 
  
  %li M.S. Ahmed*, <strong>C.B. Rodell</strong>*, M. Hulsmans, R.H. Kohler, A.D. Aguirre, M. Nahrendorf, R. Weissleder. A Supramolecular Nanocarrier for Delivery of Amiodarone Anti-Arrhythmic Therapy to the Heart. <em>Bioconjugate Chemistry</em>. 30(3), 733-740, 2019. 
  
  %li H.Y. Kim, R. Li, T. Ng, G. Courties, <strong>C.B. Rodell</strong>, M. Prytyskach, R.H. Kohler, M.J. Pittet, M. Nahrendorf, R. Weissleder, M. Miller. Quantitative imaging of tumor associated macrophages and their response to therapy using 64Cu- labeled Macrin. <em>ACS Nano</em>. 12(12): 1215-1229, 2018.
  
  %li <strong>C.B. Rodell</strong>, S.P. Arlauckas, M.F. Cuccarese, C.S. Garris, R. Li, M.S. Ahmed, R.H. Kohler, M.J. Pittet, R. Weissleder. TLR7/8-agonist-loaded nanoparticles promote the polarization of tumour-associated macrophages to enhance cancer immunotherapy. <em>Nature Biomedical Engineering</em>. 1, 2018. 
  %em Popular press & communications:
  %ul
    %li 
      %a{href: "https://bioengineeringcommunity.nature.com/users/108489-christopher-rodell/posts/33422-re-educating-tumor-macrophages-for-immunotherapy"} "Behind the paper – Re-educating tumor macrophages for immunotherapy"
      – Nature Biomedical Engineering Community
    %li 
      %a{href: "https://acir.org/journal-articles/experimental-immunotherapy/immune-cell-biology?entryId=17291"} "Immune Cell Biology newsletter feature"
      – Accelerating Cancer Immunotherapy Research (ACIR)
    %li 
      %a{href: "https://www.medgadget.com/2018/06/sugar-nanoparticles-reprogram-immune-cells-to-help-destroy-tumors.html"} "Sugar Nanoparticles Reprogram Immune Cells to Help Destroy Tumors"
      – Medgadget
    %li 
      %a{href: "https://www.nature.com/articles/nrd.2018.102"} "Cancer: Re-educating tumour-associated macrophages with nanoparticles"
      – Nature Reviews Drug Discovery
    %li 
      %a{href: "https://www.nature.com/articles/s41551-018-0276-0"} "Instructing macrophages to fight cancer"
      – Nature Biomedical Engineering 
  
  %li Y.M. Klyachkin, <strong>C.B. Rodell</strong>, S. Ye, P. Nagareddy, A. Asfour, E. Gao, R. Annabathula, M.Z. Ratajczak, J.A Burdick, A. Abdel-Latif. Cathelicidin Related Antimicrobial Peptide (CRAMP) Enhances Bone Marrow Cell Retention and Attenuates Cardiac Dysfunction in a Mouse Model of Myocardial Infarction. <em>Stem Cell Reviews and Reports</em>. 14(5):702-714, 2018.
  
  %li H. Wang, <strong>C.B. Rodell</strong>, X. Zhang, N.N. Dusaj, J.H. Gorman III, J.J. Pilla, B.M. Jackson, J.A. Burdick, R.C. Gorman, J.F. Wenk. Effects of Hydrogel Injection on Borderzone Contractility Post-Myocardial Infarction. <em>Biomechanics and Modeling in Mechanobiology</em>. 17(5):1533-1542, 2018.
  
  %li L. Guo, H.J. Kim, H. Wang, J. Monaghan, J.C. Sung, Z. Diaz, N. Singh, Z.C. Zhang, E.A. Sweeny, M.E. DeSantis, M.E. Jackrel, <strong>C.B. Rodell</strong>, J.A. Burdick, A.D. Gitler, U.B. Pandey, Y.-M. Chook, J.P. Taylor, J. Shorter. Nuclear-Import Factors Reverse Aberrant Phase Transitions of Disease-Linked RNA-Binding Proteins with Prion-Like Domains. <em>Cell</em>. 173(3):677-692, 2018. 
  
  %li A.M. Rosales, <strong>C.B. Rodell</strong>, M.H. Chen, M.G. Morrow, K.S. Anseth, J.A. Burdick. Reversible Control of Network Properties in Azobenzene-Containing Hyaluronic Acid-Based Hydrogels. <em>Bioconjugate Chemistry</em>. 29(4):905–913, 2018. 
  
  %li H. Wang, <strong>C.B. Rodell</strong>, M.E. Lee, N.N. Dusaj, J.H. Gorman III, J.A. Burdick, R.C. Gorman, J.F. Wenk. Computational Sensitivity Investigation of Hydrogel Injection Characteristics for Myocardial Support. <em>Journal of Biomechanics</em>, 64:231-235, 2017.
  
  %li C. Loebel*, <strong>C.B. Rodell</strong>*, M.H. Chen, J.A. Burdick. Shear-thinning and Self-healing Hydrogels as Injectable Therapeutics and for 3D-Printing. <em>Nature Protocols</em>, 12(8), 1521. 2017.
  
  %li V. Ramjee, L.J. Manderfield, F. Liu, K.A. Engleka, H. Aghajanian, <strong>C.B. Rodell</strong>, W. Lu, V. Ho, T. Wang, L. Li, T. Kambayashi, J.A. Burdick, E.N. Olson, M.K. Singh, J.A. Epstein. Epicardial YAP/TAZ Orchestrate an Immune Suppressive Response following MI. <em>Journal of Clinical Investigation</em>, 127(3):899-911, 2017.
  
  %li <strong>C.B. Rodell</strong>, C.B. Highley, N.N. Dusaj, J.A. Burdick. Evolution of Hierarchical Porous Structures in Supramolecular Hydrogels. <em>Soft Matter</em>, 12(37):7839-7847, 2016.
  
  %li <strong>C.B. Rodell</strong>, M.E. Lee, H. Wang, S. Takebayashi, T. Takayama, T. Kawamura, J.S. Arkles, N.N. Dusaj, S.M. Dorsey, W.R.T. Witschey, J.J. Pilla, J.H. Gorman, J.F. Wenk, J.A. Burdick, R.C. Gorman. Injectable Shear-thinning Hydrogels for Minimally Invasive Delivery to Infarcted Myocardium to Limit Left-Ventricular Remodeling. Circulation: Cardiovascular Interventions, 9(10):e004058, 2016.
  %em Popular press and communications:
  %ul
    %li 
      %a{href: "https://www.acs.org/content/acs/en/pressroom/newsreleases/2016/august/after-the-heart-attack-injectable-gels-could-prevent-future-heart-failure-video.html"} "After the heart attack: injectable gels could prevent future heart failure"
      – ACS Newsroom 
  
  %li <strong>C.B. Rodell</strong>, N.N. Dusaj, C.B. Highley, J.A. Burdick. Injectable and Cytocompatible Tough Double-Network Hydrogels Through Tandem Supramolecular and Covalent Crosslinking. Advanced Materials, 28(38):8419-8424, 2016.
  
  %li L. Ouyang, C.B. Highley, <strong>C.B. Rodell</strong>, W. Sun, J.A. Burdick. 3D Printing of Shear-Thinning Hyaluronic Acid Hydrogels with Secondary Crosslinking. ACS Biomaterials Science and Engineering, 2(10):1743-1751, 2016.
  
  %li D.E. Soranno, <strong>C.B. Rodell</strong>, C. Altman, J. Duplantis, A. Andres-Hernando, J.A. Burdick, S. Faubel. Delivery of Interleuken-10 via Injectable Hydrogels Improves Renal Outcomes and Reduces Systemic Inflammation following Ischemic Acute Kidney Injury in Mice. American Journal of Physiology – Renal Physiology, 311(2):F362-F372, 2016.
  
  %li <strong>C.B. Rodell</strong>, J.E. Mealy, J.A. Burdick. Supramolecular Guest-Host Interactions for the Preparation of Biomedical Materials. <em>Bioconjugate Chemistry</em>, 26(12):2279-2289, 2015. 
  %em Popular press and communications:
  %ul
    %li Highlighted as one of the 50 most read articles in <em>Bioconjugate Chemistry</em>.
    
    %li 
      %a{href: "https://www.facebook.com/notes/bioconjugate-chemistry/interview-with-dr-christopher-rodell/1892899087599226/"} "Interview with Dr. Christopher Rodell"
      – <em>Bioconjugate Chemistry</em> social media. 
  
  %li M.W. Tibbett*, <strong>C.B. Rodell</strong>*, J.A. Burdick, K.S. Anseth. Progress in Material Design for Biomedical Applications. Proceedings of the National Academy of Sciences (PNAS), 112(47):14444-14451, 2015.
  
  %li J.E. Mealy, <strong>C.B. Rodell</strong>, J.A. Burdick. Sustained Small Molecule Delivery from Injectable Hyaluronic Acid Hydrogels through Host-Guest Mediated Retention. Journal of Materials Chemistry B, 3(30):8010-8019, 2015.
  
  %li A.C. Gaffey, M.H. Chen, C.M. Venkataraman, A. Trubelja, <strong>C.B. Rodell</strong>, P.V. Dinh, G. Hung, J.W. MacArthur, R.V. Soopan, J.A. Burdick, P. Atluri, Injectable Shear-thinning Hydrogels to Deliver Endothelial Progenitor Cells, Enhance Cell Engraftment, and Improve Ischemic Myocardium. The Journal of Thoracic and Cardiovascular Surgery, 150(5):1268-1277, 2015.
  
  %li C.B. Highley, <strong>C.B. Rodell</strong>, J.A. Burdick, Direct 3D Printing of Shear-thinning Hydrogels into Self-Healing Hydrogels. Advanced Materials, 27(34):5075-5079, 2015.
  
  %li S.M. Dorsey, M. Haris, A. Singh, W.R.T. Witschey, <strong>C.B. Rodell</strong>, F. Kogan, R. Reddy, J.A. Burdick. Visualization of Injectable Hydrogels Using Chemical Exchange Saturation Transfer MRI. ACS Biomaterials Science and Engineering, 1(4):227-237, 2015.
  
  %li <strong>C.B. Rodell</strong>, R. Rai, S. Faubel, J.A. Burdick, D.E. Soranno. Local Immunotherapy via Delivery of Interleukin-10 and Transforming Growth Factor beta Antagonist for Treatment of Chronic Kidney Disease. Journal of Controlled Release, 206:131-139, 2015.
  
  %li R.J. Wade, E.J. Bassin, <strong>C.B. Rodell</strong>, J.A. Burdick, Protease-Degradable Electrospun Fibrous Hydrogels. Nature Communications, 6:6639, 2015.
  
  %li <strong>C.B. Rodell</strong>, R.J. Wade, B.P. Purcell, N. Dusaj, J.A. Burdick. Selective Proteolytic Degradation of Guest-Host Assembled, Shear-Thinning Hyaluronic Acid Hydrogels. ACS Biomaterials Science and Engineering, 1(4):277-286, 2015.
  
  %li <strong>C.B. Rodell</strong>, J.W. MacArthur, S.M. Dorsey, R.J. Wade, Y.J. Woo, J.A. Burdick, Shear-thinning Hydrogels with Secondary Autonomous Covalent Crosslinking to Modulate Viscoelastic Properties In Vivo. Advanced Functional Materials, 25(4):636-644, 2015.
    
  %li C.B. Highley, <strong>C.B. Rodell</strong>, I.L. Kim, R.J. Wade, J.A. Burdick, Ordered, Adherent Layers of Nanofibers Enabled by Supramolecular Interactions. Journal of Materials Chemistry B, 2(46):8110-8115, 2014.
  
  %li <strong>C.B. Rodell</strong>, A.L. Kaminski, J.A. Burdick. Rational Design of Network Properties in Guest-Host Assembled and Shear-Thinning Hyaluronic Acid Hydrogels. Biomacromolecules, 14(11):4125-4134, 2013.
  
  %li H.D. Lu, D.E. Soranno, <strong>C.B. Rodell</strong>, I.L. Kim, J.A. Burdick. Secondary Photocrosslinking of Injectable Shear-Thinning Dock-and-Lock Hydrogels. Advanced Healthcare Materials, 2(7):1028-1036, 2013.
  .panel
    %p
      * authors contributed equally 
      %br
      ‡ manuscripts in press are available upon request 

