---
title: Patents
---

%h1= current_page.data.title
%ol
  %li <strong>C.B. Rodell</strong>, R. Weissleder. Macrophage Immunotherapeutics. Application number: 16/757,119. Filed: October 20, 2017.
  %li <strong>C.B. Rodell</strong>, J.A. Burdick. Stabilizing Shear-thinning Hydrogels. Patent number: 9,827,321. Issued: November 28, 2017.
  %li <strong>C.B. Rodell</strong>, M.J. Moore, S.M. Grayson. Photochemically Induced Hydrogel Patterning using Photolabile Protected Reactants for Michael-type Crosslinking. Application number: 61/274,606. Filed: June 30, 2009
