---
title: Overview
---

%h1 People

.clearfix
  %h2.pi-name Christopher B. Rodell, PhD
  = image_tag "RodellChris.jpg", class: "right"
  %p 
    %strong
      Assistant Professor
    %br
    School of Biomedical Engineering, 
    %br
    Science and Health Systems
    %br
    Drexel University

  %p
    %strong Biography
    %br
    Chris received his BS and MS degrees from Tulane University as part of the historic ‘Katrina Class’ of 2009. He went on to conduct his doctoral research in the Polymeric Biomaterials Laboratory (PI: Jason A. Burdick) at the University of Pennsylvania, working on the development and in vivo application of injectable supramolecular hydrogels. Following completion of his PhD, Chris was a postdoctoral scholar with the Center for Systems Biology (PI: Ralph Weissleder) at Massachusetts General Hospital and Harvard Medical School, exploring nanoparticles for innate immune activation as a platform for cancer immunotherapy. To date, Chris has authored more than 25 peer-reviewed publications, 3 patent applications, and is the recipient of a number of awards, including an American Heart Association Predoctoral Fellowship, a Materials Research Society Gold Award, and the Solomon R. Pollack Award for excellence in graduate biomedical engineering research from the University of Pennsylvania.
%p 
  Dr. Rodell will start his assistant professorship at Drexel University in the Fall of 2019, where his research interests will focus on the development of dynamic hydrogels and nanotherapeutics, with applications as tissue instructive materials in the context of tissue injury and immune engineering.
%p
  %strong Education
  %br
  PhD in Bioengineering, University of Pennsylvania, 2016
  %br
  MS in Biomedical Engineering, Tulane University, 2011
  %br
  BS in Biomedical Engineering & Physics, Tulane University, 2011
%p
  %strong Research Interests
  %br
  Biomaterials, supramolecular chemistry, and drug delivery. Therapeutic applications including the etiology of disease, organ injury, cardiovascular engineering, immune engineering, and biomedical imaging.s