---
title: Editorials
---

%h1= current_page.data.title
%ol
  %li 
    <strong>C.B. Rodell</strong>. Rodell, C.B., 2020. 
    = link_to "Working on inflammatory injury in heart transplant.", "https://stm.sciencemag.org/content/12/549/eabc8950.full"
    %em Science Translational Medicine
    , 12(549), 2020. 
  %li 
    <strong>C.B. Rodell</strong>. 
    = link_to "An ACE therapy for COVID-19.", "https://stm.sciencemag.org/content/12/541/eabb5676.full"
    <em>Science Translational Medicine</em>, 12(541). 2020. 
  %li 
    <strong>C.B. Rodell</strong>. 
    = link_to "TAMing efferocytosis to fight tumors.", "https://stm.sciencemag.org/content/12/533/eabb0795.full" 
    <em>Science Translational Medicine</em>, 12(533), 2020. 
    %br
  %li 
    <strong>C.B. Rodell</strong>, J.A. Burdick. <em>Materials Science: Radicals Promote Magnetic Gel Assembly</em>. Nature, 514(7524), 574. 2014. 