---
title: Contact
---

%h1= current_page.data.title
.center
  = image_tag "RodellChris.jpg"
  %br
  %br

%p.text-center
  %strong
    Christopher B. Rodell, PhD
  %br
  Assistant Professor
  %br
  School of Biomedical Engineering, 
  %br
  Science and Health Systems
  %br
  Drexel University
  %br
  3141 Chestnut Street
  %br
  Bossone 718
  %br
  Philadephia, PA 19104
%p.center
  Office: 603 Bossone
  %br
  Phone: 215.895.2068
  %br
  Email: cbr58 at drexel.edu
