---
title: Contact
---

%h1= current_page.data.title
.center
  = image_tag "RodellChris.jpg"
  %br
  %br

%p.center
  %strong
    Christopher B. Rodell, PhD
  %br
  Assistant Professor
  %br
  School of Biomedical Engineering, 
  %br
  Science and Health Systems
  %br
  Drexel University
  %br
  3141 Chestnut Street
  %br
  Philadephia, PA 19104
%p.center
  Email: 
  = mail_to "cbr58@drexel.edu"
  %br
  Fax: 215.895.4983
