.panel.callout
  %h2.pi-name Join the Team
  %p 
    We look forward to developing a diverse and interdisciplinary research group! Limited positions are available at the undergraduate, graduate, and postdoctoral level. Please see the 
    = link_to "announcement posted", "#{http_prefix}Recruiting%20Announcement.pdf"
    and 
    = link_to "contact ", "#{http_prefix}people/overview"
    Dr. Rodell for details.