.panel.callout
  %h2.pi-name Join the Team
  %p 
    We look forward to developing a diverse and interdisciplinary research group! Positions are available for undergraduate, graduate, and postdoctoral positions beginning in Fall 2019. Please see the <a href="/Recruiting Announcement.pdf">announcement PDF</a> and contact Dr. Rodell for details. 