.home-panel
  %h3 Recent News
  %ul.unstyled
    %li 
      %strong March, 2022
      %br
      Ken Kim, PhD student, joins us from the College of Medicine in the Department of Microbiology and Immunology and Yagni Shah is an MS candidate in the Drug Discovery and Development (DDD) program. We look forward to having you both!
    %li 
      %strong February, 2022
      %br
      PhD student Shreya Soni won first place in the Student E-Poster Competition at the American Association for the Advancement of Science (AAAS) Annual Meeting in the Developmental Biology, Genetics, and Immunology section. 

  = link_to "More News", "#{http_prefix}news/recent", class: "more-link"

.home-panel
  %h3 Recent Publications
  %ul.unstyled
    %li 
      %strong Tunable Blood Shunt for Neonates with Complex Congenital Heart Defects
      %br
      %em Frontiers in Bioengineering and Biotechnology
      %br
      2022
    %li 
      %strong Macrophage-targeted therapy unlocks antitumoral crosstalk between IFN-γ-secreting lymphocytes and IL-12-producing dendritic cells
      %br
      %em Cancer Immunology Research
      %br
      2022
  = link_to "More Publications", "#{http_prefix}publications/list", class: "more-link"

