---
title: Home
---

%ul.bxslider
  %li= image_tag "Re-educating-tumor-macrophages-for-immunotherapy.jpg", title: "Research Interests <a class='more-link' href='research/research-overview'>About Our Research</a>"
  %li= image_tag "M2-like-phenotype.jpg", title: "Read Published Works <a class='more-link' href='publications/list'>Recent Publications</a>"
  %li= image_tag "cyclodextrin-nanoparticles.jpg", title: "Join the team! <a class='more-link' href='Recruiting Announcement.pdf'>Learn More</a>"

%h1 Overview
%p.big-text Welcome to the homepage of the Tissue Instructive Materials (TIMs) lab at Drexel University. The focus of the laboratory is on the development, application, and understanding of biomaterials which interact with living tissues in a controlled manner. The presentation of appropriate physiological cues (e.g., delivered drugs, controlled microstructure) is investigated toward applications which include immunoengineering, organ injury, and cardiovascular disease.