---
title: Home
---

%ul.bxslider
  %li= image_tag "Re-educating-tumor-macrophages-for-immunotherapy.jpg", title: "This is a caption"
  %li= image_tag "M2-like-phenotype.jpg", title: "This is a caption"
  %li= image_tag "cyclodextrin-nanoparticles.jpg", title: "This is a caption"